.vs/
.vscode/

src/obj/
src/bin/
src/.vs/
src/.vscode/
*.user
/src/MailServer/bin
/src/MailServer/obj
/src/MailServer.Test/*.user
/src/MailServer.Test/obj
/src/MailServer.Test/bin
/src/MailServer.MDA/bin
/src/MailServer.MDA/obj
/src/MailServer.Common/bin
/src/MailServer.Common/obj
/src/MailServer.MTA/bin
/src/MailServer.MTA/obj
